@*@model IEnumerable<CriminalFinder.WebClient.CriminalFinderService.CriminalInfo>*@
@model CriminalFinder.WebClient.Models.CriminalInfoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCriminals</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var baseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
                   new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
                   Url.Content("~/")
               ).ToString(), true));
        function qSearchKeyPressed(e)
        {
            if (e.keyCode == 13) {
                onQuickSearch();
            }
        }
        function onQuickSearch() {
            var c_Name = document.getElementById("q_searchBox");
            $.ajax({
                type: "POST",
                data: "c_name=" + c_Name.value,
                url: '@Url.Action("QuickSearchCriminals", "Criminal")',
                success: function (result) {
                    $("#dataTable td").remove();
                    $("#dataTable").show();
                    $("#no_data_found").remove();
                    if (result != null && result != "") {
                        var trHTML = '';
                        for(var i = 0; i < result.length; i++)
                        {
                            trHTML +=
                               '<tr><td>' + result[i].Name +
                               '</td><td>' + result[i].Age +
                               '</td><td>' + result[i].Gender +
                               '</td><td>' + result[i].Height +
                               '</td><td>' + result[i].Weight +
                               '</td><td>' + result[i].Nationality +
                               '</td><td>' + '<a href="' + baseUrl + 'Criminal/UpdateCriminal/' + result[i].Id + '">Edit</a>' +
                               '  |  ' + '<a href="' + baseUrl + 'Criminal/DeleteCriminal/' + result[i].Id + '">Delete</a>' +
                               '  |  ' + '<a href="' + baseUrl + 'Criminal/PrintCriminal/' + result[i].Id + '">Print</a>' +
                               '</td></tr>';
                        };

                        $('#dataTable').append(trHTML);
                        $('#dataTable').append($('#actions').clone());
                    }
                    else {
                        $("#dataTable").hide();
                        //$("#no_data_found").show();
                        var noDataFoundDiv = '<div id="no_data_found" style="text-align:center"><label for="contain">No Data Found</label></div>';
                        $('#mainBody').append(noDataFoundDiv);
                    }
                }
            });
        }
    </script>
</head>
<body id="mainBody">
    <button class="btn-link">
        @Html.ActionLink("Create New", "CreateCriminal", "Criminal") 
    </button>
    <br />
    <button class="btn-link">
        @Html.ActionLink("Email", "Contact", "Home")
    </button>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group" id="adv-search">
                    <input id="q_searchBox" onkeypress="qSearchKeyPressed(event);" type="text" class="form-control" placeholder="Search by Name" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu centerDropdown" role="menu">
                                    <form class="form-horizontal" role="form" method="post" action="@Url.Action("SearchCriminals", "Criminal")">
                                        <div class="form-group" style="width:60%;">
                                            <label for="contain">Name</label>
                                            <input name="c_Name" class="form-control" type="text" />
                                        </div>
                                        <div class="form-group" style="width:50%;">
                                            <label for="contain">Gender</label>
                                            <input name="c_Gender" class="form-control" type="text" />
                                        </div>
                                        <div class="form-group" style="width:60%;">
                                            <label for="contain">Age</label>
                                            <select name="c_Age" class="form-control" style="width:auto;">
                                                <option value="0" selected>Select</option>
                                                <option value="10_20">10-20</option>
                                                <option value="21_30">21-30</option>
                                                <option value="31_40">31-40</option>
                                                <option value="41_50">41-50</option>
                                                <option value="51_60">51-60</option>
                                                <option value="61_70">61-70</option>
                                                <option value="71_80">71-80</option>
                                                <option value="81_90">81-90</option>
                                                <option value="91_100">91-100</option>
                                                <option value="101_110">101-110</option>
                                                <option value="111_120">111-120</option>
                                            </select>
                                        </div>
                                        <div class="form-group" style="width:50%;">
                                            <label for="contain">Nationality</label>
                                            <input name="c_Nationality" class="form-control" type="text" />
                                        </div>
                                        <div class="form-group">
                                            <label for="filter">Height Range (Meter)</label>
                                            <select name="c_heightRange" class="form-control" style="width:auto;">
                                                <option value="0" selected>Select</option>
                                                <option value="1_1.5">1-1.5</option>
                                                <option value="1.6_2">1.6-2</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="filter">Weight Range (Kg)</label>
                                            <select name="c_weightRange" class="form-control" style="width:auto;">
                                                <option value="0" selected>Select</option>
                                                <option value="40_70">40-70</option>
                                                <option value="71_100">71-100</option>
                                                <option value="101_130">101-130</option>
                                                <option value="131_160">131-160</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                </div>
                            </div>
                            <button id="q_searchBtn" onclick="onQuickSearch();" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br /><br /><br />
@if (Model != null)
{
    <table id="dataTable" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Criminals[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criminals[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criminals[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criminals[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criminals[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criminals[0].Nationality)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in @Model.Criminals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>

                <td id="actions">
                    @Html.ActionLink("Edit", "UpdateCriminal", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCriminal", new { id = item.Id }) |
                    @Html.ActionLink("Print", "PrintCriminal", new { id = item.Id }) |
                </td>
            </tr>
        }

    </table>
}
else
{
    <div id="no_data_found" style="text-align:center">
        <label for="contain">No Data Found</label>
    </div>
    @*<h6 style="text-align:center">No Data Found</h6>*@
}
</body>
</html>